<!DOCTYPE html>
<html lang="en">
<head>
    <title>College</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton+SC&family=Bebas+Neue&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
</head>
<body>
    <div class="banner-div">
        <img src="../static/images/qis_banner.png" >
    </div>

    <div class="main-div">
        <div class="main-left">
            <a href="/campus"><img src="../static/images/admissions.jpg" ></a>
        </div>
        <div class="main-right">
            <a href="/admissions"><h1>Manage Admissions</h1></a>
            <img src="../static/images/college.png">
        </div>
    </div>

    <div class="gallery-div">
        <p>QIS GALLERY</p>
        <img src="../static/images/play.jpg" >
        <img src="../static/images/students.jpg">
        <img src="../static/images/graduation.jpg">
        <img src="../static/images/class.jpg">
        <img src="../static/images/dining.jpg">
    </div>
    <div class="volunteer-div">
        <div class="volunteer-left">
            <img src="../static/images/hr.jpg">
        </div>
        <div class="volunteer-right">
            <h1>CONTACT OUR VOLUNTEER</h1>
            <p> For any assistance or any difficulties <br>
                in the process of admissions, <br>
                please feel free to reach <br>
                out to our volunteers></p>
            <p>She will take care of your pickup <br>
                and accomdation and also she will <br>
                be the guide to you for the campus tour</p>
        </div>
    </div>   
    
    <div class="info-div">
        <div class="details">
            <h1>ADDRESS</h1>
            <P>Vengamukkapalem, Ongole
                Prakasam District - 523272
                Andhra Pradesh, India
            </P>
        </div>
        <div class="details">
            <form action="/callme" method="post" onsubmit="alert('call requested')">    
                <input type="text" name="name" placeholder="name" required>
                <input type="email" name="email" placeholder="email" required>
                <input type="number" name="num" placeholder="number" required>
                <select name="course" style="width: 75%;">
                    <option value="" disabled selected>select course</option>
                    <option value="computers">Computers</option>
                    <option value="Electronics">Electronics</option>
                    <option value="robotics">robotics</option>
                    <option value="mining">mining</option>
                </select>
                <button type="submit">CallMe</button>
            </form>
        </div>
        <div class="details">
            <h1>CONTACT</h1>
            <p>Phone: +91 92464 19542 <br>
                Mobile: +91 92464 19542 <br>
                Fax: +91 92464 19542 <br>
                Email: principal@qiscet.edu.in</p>
        </div>
    </div> 
    <div class="footer-div">
        <p>@copy Copyright 2024 || All rights reserved || Developed by Nandhusha Shaik</p>

    </div> 
    <script src="../static/js/style.js"></script>
</body>
</html>